body {}

/* ---------------------------------- Her starter CSS for header ---------------------------------- */

#header {
    display: flex;
    padding-top: 10px;
}

#header h2 {
    margin: auto;
}

/* ---------------------------------- Her slutter CSS for header ---------------------------------- */

/* ---------------------------------- Her starter CSS for footer ---------------------------------- */






/* ---------------------------------- Her slutter CSS for footer ---------------------------------- */

/* ---------------------------------- Her starter CSS for index.html ---------------------------------- */






/* ---------------------------------- Her slutter CSS for slutter ---------------------------------- */

/* ---------------------------------- Her starter CSS for tilmeld.html ---------------------------------- */






/* ---------------------------------- Her slutter CSS for tilmeld.html ---------------------------------- */

/* ---------------------------------- Her starter CSS for skridt.html ---------------------------------- */






/* ---------------------------------- Her slutter CSS for skridt.html ---------------------------------- */
